[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-blinka = "*"
adafruit-circuitpython-ahtx0 = "*"
adafruit-circuitpython-apds9960 = "*"
"rpi.gpio" = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
